.won-picker-area:not(.active){
  display:none;
}
.won-picker-area .picker-wrapper{
  position:absolute;
  background-color:#fff;
  width: 210px;
  height: 194px;
  display:none;
  box-shadow: 0 2px 5px black;
  border:1px solid rgba(0, 0, 0, .1);
  margin:3px;
  overflow: hidden;
  z-index:999;
}
.won-picker-area .picker-wrapper.with-btns{
  width: 286px;
}
.won-picker-area .calendar-wrapper{
  position:absolute;
  /*display:none;*/
  border: 1px solid #e7e7e7;
  background-color:#fff;
  width:240px;
}
.won-picker-area .picker-wrapper.with-btns .calendar-wrapper{
  border-right-style:none;
}
.won-picker-area .calendar-wrapper ul{
  text-align:center;
}
.won-picker-area .calendar-wrapper .headerBtns-wrapper{
  width:100%;
  height:24px;
  text-align:center;
}
.won-picker-area .calendar-wrapper .headerBtns-wrapper .headerBtns{
  display:inline-block;
  margin:auto;
}
.won-picker-area .calendar-wrapper .headerBtns a{
  padding:10px 14px;
  text-decoration:none;
  color:#000;
}
.won-picker-area ul.wdates{
  background-color:#e7e7e7;
}
.won-picker-area ul.wdates li{
  display:inline-block;
  width:24px;
  height:24px;
  text-align:center;
}
.won-picker-area ul[weekno] li{
  display:inline-block;
  cursor:pointer;
  width:24px;
  height:24px;
  text-align:center;
}
.won-picker-area ul:not[.wdates] li:hover{
  background-color:#e7e7e7;
}
.won-picker-area li.selected{
  color:#fff;
  background-color:#3770e8;
}
.won-picker-area li.range{
  background-color:rgba(55, 112, 232, .1);
}
.won-picker-area ul[weekno] li.last-month, .won-picker-area ul[weekno] li.next-month{
  color:#e7e7e7;
}
.won-picker-area ul[months] li, .won-picker-area ul[years] li{
  display:inline-block;
  cursor:pointer;
  width:48px;
  height:48px;
  line-height:48px;
  text-align:center;
}
.won-picker-area input{
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  background-color: #fff;
}
.won-picker-area.active input:not([type='hidden']), .won-picker-area.active .tilde{
  border-color:#3770e8!important;
}
.won-picker-area ul[weekno] li.disabled, .won-picker-area ul[months] li.disabled, .won-picker-area ul[years] li.disabled{
  color:#e0e0e0;
}

.won-picker-area .picker-wrapper.with-header-btns .picker-btn-wrapper{
  height:calc(100% - 30px);
  top:30px;
}
.won-picker-area .picker-wrapper .btn{
  width:53px;
  height:25px;
  margin:3px;
  font-size:12px;
  text-align:center;
  border:1px solid #3770e8;
  background-color:#fff;
}
.won-picker-area .picker-wrapper .btn:hover{
  background-color:rgba(55, 112, 232, .1);
}


.won-picker-area, .won-picker-area .calendar-wrapper, .won-picker-area .picker-wrapper{
  z-index:96;
}
.date-wrapper.won-picker-area{
  position:relative;
  display:inline-flex;
  margin:5px 0;
}
.picker-wrapper{
  position:absolute!important;
  display:block;
  left:0;
  top:37px;
  width:252px!important;
  height:255px!important;
  background-color:#fff!important;
  border:1px solid #ccc!important;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.16)!important;
  padding:20px!important;
}
.picker-wrapper.with-btns{
  width:325px!important;
}
.won-picker-area .picker-wrapper .calendar-wrapper{
  border:none;
  line-height:18px;
}
.won-picker-area .tilde{
  width:16px;
  height:33px;
  line-height: 33px;
  border: 1px solid #aaa;
  background-color:#fff;
  display: inline-block;
  border-left: none;
  border-right: none;
}
.won-picker-area input[readonly] + .tilde{
  border-style:none;
  font-family:'SCoreDreamR'!important;
  font-size:14px!important;
  color:#000!important;
}
.won-picker-area input{
  width:131px!important;
  height:21px!important;
  padding-left:16px!important;
  margin:0!important;
  font-family:'SCoreDreamR'!important;
  font-size:14px!important;
  color:#000!important;
}
.won-picker-area input.start{
  border-right:none;
}
.won-picker-area input.end{
  border-left:none;
}
.won-picker-area ._submit{
  margin-left:8px!important;
  height:33px!important;
  line-height:33px!important;
}
.won-picker-area .calendar-wrapper .headerBtns-wrapper .headerBtns{
  width:100%;
}
.won-picker-area .calendar-wrapper .headerBtns a{
  font-family:'SCoreDreamR';
  font-size:15px;
  padding:0 4px;
  margin-bottom:5px;
}
.won-picker-area .calendar-wrapper .headerBtns a.prev{
  float:left;
}
.won-picker-area .calendar-wrapper .headerBtns a.next{
  float:right;
}
.won-picker-area ul.wdates{
  background-color:#fff;
}
.won-picker-area li{
  font-family:'SCoreDreamR';
  font-size:14px;
  margin:5px 0;
  color:#3e3e3e;
}
.won-picker-area ul.wdates li, .won-picker-area ul[weekno] li{
  width: 26px;
  height: 18px;
  padding: 0 4px;
  text-align: center;
}
.won-picker-area ul.wdates li:first-child{
  color:#fb645d;
}
.won-picker-area ul.wdates li:last-child{
  color:#3770e8;
}
.won-picker-area li.range{
  background-color:rgba(55, 112, 232, .1);
}
.won-picker-area .calendar-wrapper{
  width:210px;
  height:194px;
  margin-top:-1px;
}
.won-picker-area .picker-btn-wrapper{
  position:absolute;
  right:18px;
  width:76px;
}
.won-picker-area .calendar-wrapper ul{
  height: 23.5px;
  margin: 4px auto;
}
.won-picker-area .calendar-wrapper ul[years]{
  height:calc((100% - 24px) / 3)!important;
}
.won-picker-area .calendar-wrapper ul[months]{
  height:calc((100% - 24px) / 4)!important;
}
.won-picker-area ul[months] li{
  height:100%;
  width:calc(100% / 3);
}
.won-picker-area ul[years] li{
  height:100%;
  line-height:56px;
  width:calc(100% / 3);
}
.won-picker-area .picker-wrapper.with-header-btns .picker-btn-wrapper{
  height:calc(100% - 46px);
  top:76px;
}
.won-picker-area .picker-wrapper.with-header-btns .picker-btn-wrapper a.btn{
  display: block;
  min-width:60px!important;
  width:60px!important;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, .3)!important;
}
.won-picker-area .calendar-wrapper ul{
  padding-inline-start: 0px;
}
